# Exploring Different Methods in Extracting Contents That Were Stuck in PDFs

### 1. Using package `pdftools` in R to extract text
**Main Steps:** \
• Use `pdf_text` to extract all text from a pdf\
• Remove multiple spaces\
• Use RegEx to split and select the information that we need\
• Output the list of text, and each element should be the content of a table that we want\
• Further clean the text(hard to achieve due to the poor quality of pdf)\
• Convert text to dataframe(haven’t got this far)

**Pros:** Input is pdf file. No need to convert it to immages.\
**Cons:** The performance of RegEx method and `pdf_text`function is highly depends on the quality of input. We cannot improve their ability of reading the text since they are not training models. 

Click [here](https://drive.google.com/file/d/1bg73-6Najxc-K1_PM63pzAUkyNXK5_gp/view?usp=drive_link) to read the code in R.

### 2. Using Tabula
Tabula is a free and open-source tool designed for extracting tables from PDF files and converting them into more computation readable formats like CSV or JSON. This software is particularly useful for journalists, researchers, and data analysts who need to work with data trapped inside PDF documents, a format that is not inherently conducive to data analysis. You can find more information [here](https://tabula.technology/).

**Main Steps:** 
- Download and install Tabula app
- Upload the pdf to Tabula app
- Manually select the areas from which we want to extract the contents 
- Export the output in a format that you need (i.e. csv, zip, json)

**Example 1: P00301_003#1.pdf**(better outcome)

In [37]:
import zipfile
import pandas as pd
import numpy as np

In [27]:
# Replace 'your_zipfile.zip' with the path to your ZIP file
zip_file_path = 'P00301_003.zip'

# Open the ZIP file
with zipfile.ZipFile(zip_file_path, 'r') as z:
    # List to hold dataframes
    dfs = []
    
    # Iterate through each file in the ZIP
    for filename in z.namelist():
        # Check if the file is a CSV
        if filename.endswith('.csv'):
            # Read the CSV file
            with z.open(filename) as f:
                df = pd.read_csv(f, header = None)
                dfs.append(df)

In [61]:
# manually adding headers
col_names = ["lable_point", "delta_time", "presure_(PSI)", "T+DT/DT", "log", "Pw_Pf(PSI)", "comments"]
dfs[0].columns = col_names
dfs[0] # the first dataframe in the pdf

,lable_point,delta_time,presure_(PSI),T+DT/DT,log,Pw_Pf(PSI),comments
0,1.0,NaN,1870.8,NaN,NaN,NaN,HYDROSTATICMUD
1,2.0,0,1679.5,NaN,NaN,NaN,INITIALFLOW(1)
2,NaN,5,1707.6,NaN,NaN,NaN,NaN
3,NaN,10,1723.5,NaN,NaN,NaN,NaN
4,3.0,11,1726.4,NaN,NaN,NaN,INITIALFL0W(2)
5,3.0,0,1726.4,NaN,NaN,NaN,STARTEDSHUT-IN
6,NaN,5,1780.8,3.200,0.505,54.4,NaN
7,NaN,10,1798.6,2.100,0.322,72.2,NaN
8,NaN,15,1807.0,1.733,0.239,80.7,NaN
9,NaN,20,1813.6,1.550,0.190,87.2,NaN
10,NaN,25,1817.3,1.440,0.158,91.0,NaN
11,NaN,30,1821.1,1.367,0.136,94.7,NaN
12,NaN,35,1824.8,1.314,0.119,98.5,NaN
13,NaN,40,1826.7,1.275,0.106,100.4,NaN
14,NaN,45,1828.6,1.244,0.095,102.2,NaN
15,NaN,50,1829.5,1.220,0.086,103.2,NaN
16,NaN,55,1830.5,1.200,0.079,104.1,NaN
17,NaN,60,1831.4,1.183,0.073,105.1,NaN
18,4.0,61,1832.3,1.180,0.072,106.0,INITIALSHUT-IN
19,5.0,0,I740.4,NaN,NaN,NaN,SECONDFLOW(1)
20,NaN,30,1581.0,NaN,NaN,NaN,NaN
21,NaN,60,1407.4,NaN,NaN,NaN,NaN
22,NaN,90,1368.0,NaN,NaN,NaN,NaN
23,NaN,120,1249.9,NaN,NaN,NaN,NaN
24,NaN,150,1160.7,NaN,NaN,NaN,NaN
25,NaN,180,1083.8,NaN,NaN,NaN,NaN
26,NaN,210,1202.0,NaN,NaN,NaN,NaN
27,NaN,240,1038.8,NaN,NaN,NaN,NaN
28,NaN,270,647.7,NaN,NaN,NaN,NaN
29,NaN,300,587.6,NaN,NaN,NaN,NaN
30,NaN,330,635.5,NaN,NaN,NaN,NaN
31,NaN,360,663.6,NaN,NaN,NaN,NaN

In [71]:
# remove spaces within each observations
dfs[0] = dfs[0].applymap(lambda x: x.replace(' ', '') if isinstance(x, str) else x)

#manually fix some misreadings
dfs[0]["delta_time"][16] = 55
dfs[0]["presure_(PSI)"][19] = 1740.4

dfs[0]

/tmp/ipykernel_127/2348720027.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs[0]["delta_time"][16] = 55
/tmp/ipykernel_127/2348720027.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs[0]["presure_(PSI)"][19] = 1740.4

,lable_point,delta_time,presure_(PSI),T+DT/DT,log,Pw_Pf(PSI),comments
0,1.0,NaN,1870.8,NaN,NaN,NaN,HYDROSTATICMUD
1,2.0,0,1679.5,NaN,NaN,NaN,INITIALFLOW(1)
2,NaN,5,1707.6,NaN,NaN,NaN,NaN
3,NaN,10,1723.5,NaN,NaN,NaN,NaN
4,3.0,11,1726.4,NaN,NaN,NaN,INITIALFL0W(2)
5,3.0,0,1726.4,NaN,NaN,NaN,STARTEDSHUT-IN
6,NaN,5,1780.8,3.200,0.505,54.4,NaN
7,NaN,10,1798.6,2.100,0.322,72.2,NaN
8,NaN,15,1807.0,1.733,0.239,80.7,NaN
9,NaN,20,1813.6,1.550,0.190,87.2,NaN
10,NaN,25,1817.3,1.440,0.158,91.0,NaN
11,NaN,30,1821.1,1.367,0.136,94.7,NaN
12,NaN,35,1824.8,1.314,0.119,98.5,NaN
13,NaN,40,1826.7,1.275,0.106,100.4,NaN
14,NaN,45,1828.6,1.244,0.095,102.2,NaN
15,NaN,50,1829.5,1.220,0.086,103.2,NaN
16,NaN,55,1830.5,1.200,0.079,104.1,NaN
17,NaN,60,1831.4,1.183,0.073,105.1,NaN
18,4.0,61,1832.3,1.180,0.072,106.0,INITIALSHUT-IN
19,5.0,0,1740.4,NaN,NaN,NaN,SECONDFLOW(1)
20,NaN,30,1581.0,NaN,NaN,NaN,NaN
21,NaN,60,1407.4,NaN,NaN,NaN,NaN
22,NaN,90,1368.0,NaN,NaN,NaN,NaN
23,NaN,120,1249.9,NaN,NaN,NaN,NaN
24,NaN,150,1160.7,NaN,NaN,NaN,NaN
25,NaN,180,1083.8,NaN,NaN,NaN,NaN
26,NaN,210,1202.0,NaN,NaN,NaN,NaN
27,NaN,240,1038.8,NaN,NaN,NaN,NaN
28,NaN,270,647.7,NaN,NaN,NaN,NaN
29,NaN,300,587.6,NaN,NaN,NaN,NaN
30,NaN,330,635.5,NaN,NaN,NaN,NaN
31,NaN,360,663.6,NaN,NaN,NaN,NaN

 **Example 2: P00315_A004**(worse outcome)

In [75]:
# Replace 'your_zipfile.zip' with the path to your ZIP file
zip_file_path = 'P00315_A004.zip'

# Open the ZIP file
with zipfile.ZipFile(zip_file_path, 'r') as z:
    # List to hold dataframes
    dfs2 = []
    
    # Iterate through each file in the ZIP
    for filename in z.namelist():
        # Check if the file is a CSV
        if filename.endswith('.csv'):
            # Read the CSV file
            with z.open(filename) as f:
                df2 = pd.read_csv(f, header = None)
                dfs2.append(df2)

In [91]:
dfs2[1]

                    0        1      2       3        4            5
0    13 27 :30 27 -JY   15 492  0 000   248 0  3343 99         0 00
1    13 28 :06 27 -JY   15 502  0 010   249 3  3401 80  57 81 1 007
2    13 28 :42 27 -JY   15 512  0 020   250 4  3407 11  63 12 0 747
3    13 29 :18 27 -JY   15 522  0 030   251 5  3408 45  64 46 0 608
4    13 29 :54 27 -JY   15 532  0 040   252 5  3409 11  65 12 0 517
5    13 30 :30 27 -JY   15 542  0 050   253 3  3409 44  65 45 0 452
6    13 31 :06 27 -JY   15 552  0 060   254 1  3409 65  65 66 0 403
7    13 31 :42 27 -JY   15 562  0 070   254 7  3409 70  65 71 0 364
8    13 32 :18 27 -JY   15 572  0 080   255 3  3409 77  65 78 0 332
9    13 32 :54 27 -JY   15 582  0 090   255 8  3409 74  65 75 0 305
10   13 33 :30 27 -JY   15 592  0 100   256 3  3409 67  65 68 0 283
11   13 34 :42 27 -JY   15 612  0 120   256 9  3409 43  65 44 0 246
12   13 35 :54 27 -JY   15 632  0 140   257 3  3409 18  65 19 0 219
13   13 37 :06 27 -JY   15 652  0 160   257 6  3409 26  65 27 0 197
14   13 38 :18 27 -JY   15 672  0 180   257 8  3409 39  65 40 0 179
15   13 39 :30 27 -JY   15 692  0 200   257 9  3409 56  65 57 0 164
16   13 40 :42 27 -JY   15 712  0 220   258 0  3409 75  65 76 0 151
17   13 41 :54 27 -JY   15 732  0 240   257 9  3409 92  65 93 0 140
18   13:43 :06 27 -JY   15 752  0 260   257 8  3410 07  66 08 0 131
19   13 44 :18 27 -JY   15 772  0 280   257 7  3410 30  66 31 0 123
20   13 45 :30 27 -JY   15 792  0 300   257 5  3410.45  66 46 0 116
21    13 46:42 27 -JY   15 812  0 320  257 .4  3410 63  66 64 0 109
22   13 47 :54 27 -JY   15 832  0 340  257 .2  3410 71  66 72 0 104
23   13 49 :06 27 -JY   15 852  0 360   257 0  3410 78  66 79 0 099
24   13 50 :18 27 -JY   15 872  0 380  256 .8  3410 79  66 80 0 094
25  13 .51 :30 27 -JY  15 .892  0 400   256 6  3410 91  66 92 0 090

The output for this file was relatively less accurate than the one from example 1. It merged the first two columns and the last two, and it failed to capture most decimals. This happened due to the poor quality of the pdfs and the inconsistent distance between columns. 

**Pros and Cons**

Pros: It is free. Processes are easy and straightforward. Output could be exported in different formats. 

Cons: The outcome highly depends on the quality.